@model IEnumerable<nomadate_web.Models.Usuario>

<h2>Usuarios Registrados</h2>

<table>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Email</th>
    </tr>

@foreach(var u in Model)
{
    <tr>
        <td>@u.IdUsuario</td>
        <td>@u.Nombre @u.Apellido</td>
        <td>@u.Email</td>
    </tr>
}
</table>
